In [2]:
conda install -c anaconda beautifulsoup4

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.2

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [5]:
soup = BeautifulSoup(html, 'html5lib')
type(soup)

bs4.BeautifulSoup

In [40]:
title = soup.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [ ]:
_rows = soup.find_all('tr')
# print(table_rows)

import csv

with open("Neighborhood.csv", "wt+", newline="") as f:
    writer = csv.writer(f)
    for row in _rows:
        csv_row = []
        for cell in row.findAll(["td", "th"]):
            csv_row.append(cell.get_text().strip())
        writer.writerow(csv_row)

In [39]:
df = pd.read_csv('Neighborhood.csv', error_bad_lines=False)
df.head(10)

b'Skipping line 291: expected 3 fields, saw 31\nSkipping line 292: expected 3 fields, saw 12\nSkipping line 293: expected 3 fields, saw 18\n'

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [40]:
for idx, row in df.iterrows():
    if (df.loc[idx,'Neighbourhood'] == "Not assigned") & (df.loc[idx,'Borough'] == "Not assigned"):
        df.drop(idx, axis=0, inplace= True)    
    elif  df.loc[idx,'Neighbourhood'] == "Not assigned":
        df.loc[idx,'Neighbourhood'] = df.loc[idx,'Borough']
        
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [41]:
df.reset_index(inplace=True)

In [42]:
df.head()

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M6A        North York  Lawrence Heights
4      6      M6A        North York    Lawrence Manor

In [43]:
df.drop('index', axis=1, inplace=True)

In [44]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [45]:
df.shape

(212, 3)